
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

*background:            S_base03
*foreground:            S_base0
*fadeColor:             S_base03
*cursorColor:           S_base1
*pointerColorBackground:S_base01
*pointerColorForeground:S_base1

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
*color0:                S_base02
*color8:                S_base03

!! red dark/light
*color1:                S_red
*color9:                S_orange

!! green dark/light
*color2:                S_green
*color10:               S_base01

!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00

!! blue dark/light
*color4:                S_blue
*color12:               S_base0

!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1

!! white dark/light
*color7:                S_base2
*color15:               S_base3

! Fonts {{{
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.hintstyle: hintfull
! Xft.dpi:       220
! }}}

!urxvt256c-ml*borderLess: true
urxvt256c-ml*scrollBar:false

!urxvt256c-ml*font:xft:Monospace:size=10
!urxvt256c-ml*boldFont:xft:Monospace Bold:size=10
!urxvt256c-m*font: xft:Terminess Powerline:size=12
urxvt256c-ml*font:                 xft:Terminess Powerline:regular:size=12
urxvt256c-ml*imFont:               xft:Terminess Powerline:regular:size=12
urxvt256c-ml*boldFont:             xft:Terminess Powerline:bold:size=12
urxvt256c-ml*italicFont:           xft:Terminess Powerline:italic:size=12
urxvt256c-ml*boldItalicFont:       xft:Terminess Powerline:bold:italic:size=12
!urxvt256c-ml*font:                 xft:Menlo for Powerline:regular:size=12
!urxvt256c-ml*imFont:               xft:Menlo for Powerline:regular:size=12
!urxvt256c-ml*boldFont:             xft:Menlo for Powerline:bold:size=12
!urxvt256c-ml*italicFont:           xft:Menlo for Powerline:italic:size=12
!urxvt256c-ml*boldItalicFont:       xft:Menlo for Powerline:bold:italic:size=12

urxvt256c-ml*letterSpace:-1

urxvt256c-ml*transparent:true
urxvt256c-ml*shading:20

!urxvt256c-ml*background:#222222
!urxvt256c-ml*foreground:#e8e9ca

! black
!urxvt256c-ml*color0  : #2E3436
!urxvt256c-ml*color8  : #555753
! red
!urxvt256c-ml*color1  : #CC0000
!urxvt256c-ml*color9  : #e92824
! green
!urxvt256c-ml*color2  : #4E9A06
!urxvt256c-ml*color10 : #91d931
! yellow
!urxvt256c-ml*color3  : #d0d1cd
!urxvt256c-ml*color11 : #f5e84b
! blue
!urxvt256c-ml*color4  : #3465a4
!urxvt256c-ml*color12 : #6990c0
! magenta
!urxvt256c-ml*color5  : #75507b
!urxvt256c-ml*color13 : #a97fa7
! cyan
!urxvt256c-ml*color6  : #06989a
!urxvt256c-ml*color14 : #3465a4
! white
!urxvt256c-ml*color7  : #d3d7cf
!urxvt256c-ml*color15 : #ecfafd
